.wpwidget{
    margin-top:20px;
}
.wpwidget .ui-accordion-header{
    font-size: 30px;
    padding-left: 45px;
}
.wpwidget .ui-accordion-content{
    background-color: #ddd;
}
.statusmessage{
	max-width: 400px;
	float:right;
}
.statusmessage span{
	padding: 20px;
	
}
.wpwidget .ui-widget-content a{
    color: White;
}
.page-upload .img-rounded{
	width: 100px;
	height: 100px;
}
.uploaderContainer{
	max-width: 300px;
	float: right;
}
.wpwidget-content-quickpress .text-widget,
.wpwidget-content-quickpress .textarea-widget{
    width: 400px;
}
